#!/usr/bin/make -f
# export PYBUILD_VERBOSE=1
export PYBUILD_NAME=tldp

%:
	dh $@ --with=python3 --buildsystem=pybuild

override_dh_installman:
	(cd docs && \
	 sphinx-build \
	        -b man -D today="$(BUILD_DATE)" \
	        -d _build/doctrees . _build/man)
	dh_installman docs/_build/man/ldptool.1

override_dh_clean:
	(cd docs && \
	        rm -rf -- ./_build)
	rm -rf -- ./$(PYBUILD_NAME).egg-info
	dh_clean
